@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
    --c-dark-main: #303E4D;
    --c-light-main: #8B8D97;
    --c-lighter-main: #73757D;
    --c-lighterer-main: #C5C6C9;
    --c-blue: #2190B4;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--c-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--c-blue);
}

.screen.main .panel-top {
    height: 300px;
    width: 300px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 2px 6px 1px var(--c-lighterer-main);
    border-radius: 7px;
    will-change: opacity;
    animation: showPanel .3s;
    transition: ease opacity .3s;
    box-sizing: border-box;
    padding: 10px;
}

.screen.main .panel-top .title {
    color: var(--c-dark-main);
    height: max-content;
}

.screen.main {
    display: grid;
    grid-template-columns: 300px calc(100% - 300px);
}

.screen.main div {
    width: 100%;
    height: 100vh;
}

.screen.main .left-container {
    background-color: var(--c-dark-main);
    padding: 25px 30px 25px 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px calc(100% - 200px) 120px;
}

.screen.main .left-container div {
    max-height: 100%;
    box-sizing: border-box;
} 

.screen.main .left-container .upper {
    display: grid;
    grid-template-rows: 30px calc(100% - 50px);
}

.screen.main .left-container .upper .app-name {
    color: white;
    font-size: 25px;
}

.screen.main .left-container .upper .username {
    color: var(--c-light-main);
}

.screen.main .left-container .channel-list {
    display: grid;
    grid-template-rows: 25px calc(100% - 25px);
}

.screen.main .left-container .channel-list .title {
    color: var(--c-light-main);
}

.screen.main .left-container .channel-list .title i {
    float: right;
    font-size: 22px;
    will-change: color;
    transition: ease color .3s;
}

.screen.main .left-container .channel-list .title i:hover {
    color: white;
}

.screen.main .left-container .channel-list .channels .channel {
    display: block;
    font-size: 20px;
    color: var(--c-light-main);
    will-change: color;
    transition: ease color .3s;
    padding: 3px;
}

.screen.main .left-container .channel-list .channels .channel.active {
    color: white;
}

.screen.main .left-container .channel-list .channels .channel::before {
    content: "# ";
    color: var(--c-lighter-main);
}

.screen.main .left-container .channel-list .channels .channel:hover {
    cursor: pointer;
    color: white;
}

.screen.main .right-container {
    display: grid;
    grid-template-rows: 75px calc(100% - 150px) 75px;
}

.screen.main .right-container .top-bar {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: calc(100% - 280px) 50px 30px 180px;
    grid-gap: 15px;
}

.screen.main .right-container .top-bar .mentions {
    border: solid 2px var(--c-lighterer-main);
    border-radius: 50%;
    height: 30px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    color: var(--c-dark-main);
    will-change: color, background-color, border-color;
    transition: ease color .3s, ease background-color .3s, ease border-color .3s;
}

.screen.main .right-container .top-bar .mentions:hover {
    background-color: var(--c-dark-main);
    color: var(--c-lighterer-main);
    cursor: default;
    border-color: var(--c-dark-main);
}

.screen.main .right-container .top-bar .users {
    height: 30px;
    text-align: right;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    width: 50px;
}

.screen.main .right-container .top-bar .users:hover {
    cursor: default;
}

.screen.main .right-container .top-bar .search {
    float: right;
    height: 100%;
}

.screen.main .right-container .top-bar .search input[type=text] {
    padding: 5px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: solid 2px var(--c-lighterer-main);
    border-radius: 14px;  
    font-family: FontAwesome, "Roboto", sans-serif;
}

.screen.main .right-container .top-bar .channel-name {
    color: var(--c-dark-main);
    font-size: 25px;
    font-weight: bold;
    height: 100%;
}

.screen.main .right-container .top-bar .channel-name::before {
    content: "#";
    color: var(--c-lighter-main);
    font-weight: bold;
}

.screen.main .right-container .top-bar .channel-name .description {
    font-style: italic !important;
    font-size: 15px;
    color: var(--c-lighterer-main);
}

.screen.main .right-container .chat {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 15px;
}

.screen.main .right-container .chat hr {
    background-color: var(--c-lighterer-main);
    width: 100%;
    border: 0;
    height: 1px;
    padding: 0;
}

.screen.main .right-container .chat .message {
    display: grid;
    grid-template-columns: 55px calc(100% - 100px);
    grid-gap: 10px;
    height: max-content;
}

.screen.main .right-container .chat .message .profile-pic {
    height: max-content;
}

.screen.main .right-container .chat .message .profile-pic img {
    height: 55px;
    width: 55px;
    border-radius: 7px;
}

.screen.main .right-container .chat .message .content {
    display: grid;
    grid-template-rows: 20px max-content;
    margin-top: 7px;
    height: max-content;
}

.screen.main .right-container .chat .message .content .upper {
    font-weight: bold;
    color: var(--c-dark-main);
    height: 100%;
}

.screen.main .right-container .chat .message .content .upper .date {
    color: var(--c-lighterer-main);
    font-size: 12px;
    font-weight: normal;
    padding-left: 5px;
}

.screen.main .right-container .chat .message .content .upper .options {
    float: right;
    opacity: 0;
    will-change: opacity;
    transition: ease opacity .3s;
    color: var(--c-light-main);
}

.screen.main .right-container .chat .message .content:hover .options {
    opacity: 1;
}

.screen.main .right-container .chat .message .content .text {
    height: max-content;
    padding-bottom: 2px;
}

.screen.main .right-container .chat .message .content .image {
    height: max-content;
}

.screen.main .right-container .chat .message .content .image img {
    max-width: 400px;
    height: auto;
    max-height: 800px;
    border-radius: 7px;
}

.screen.main .right-container .inputs {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    height: 100%;
}

.screen.main .right-container .inputs input[type=text] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid 2px var(--c-lighterer-main);
    border-radius: 7px;
}

::-webkit-scrollbar-track {
	background-color: var(--c-lighterer-main);
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--c-light-main);
}

@keyframes showPanel {
    from {
        opacity: 0;
        margin-top: -15px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

